<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.shaymee.s4.notice.NoticeDAO">
  
  	<select id="getList" parameterType="com.shaymee.s4.util.NoticePager" resultType="com.shaymee.s4.notice.NoticeDTO">
  		SELECT * 
		FROM (
		    SELECT rownum R, NT.* FROM 
		        (SELECT *  
		        FROM NOTICE 
		        ORDER BY NUM DESC) NT ) 
		        WHERE R BETWEEN #{startRow} AND #{lastRow}
  	</select>
  
  	<select id="getSelect" parameterType="com.shaymee.s4.notice.NoticeDTO" resultType="com.shaymee.s4.notice.NoticeDTO">
  		SELECT * FROM NOTICE WHERE NUM = #{num}
  	</select>
  
  	<insert id="setInsert" parameterType="com.shaymee.s4.notice.NoticeDTO">
  		INSERT INTO NOTICE VALUES (NOTICE_SEQ.NEXTVAL, #{title}, #{contents}, #{writer}, sysdate, 0)
  	</insert>
  	
  	<delete id="setDelete" parameterType="com.shaymee.s4.notice.NoticeDTO">
  		DELETE NOTICE WHERE NUM = #{num}
  	</delete>
  	
  	<update id="setUpdate" parameterType="com.shaymee.s4.notice.NoticeDTO">
  		UPDATE NOTICE SET TITLE=#{title}, CONTENTS=#{contents}
  		WHERE NUM=#{num} 
  	</update>
  	
  	<select id="totalCount" resultType="java.lang.String">
  		SELECT COUNT(NUM) FROM NOTICE;
  	</select>
  
  </mapper>
  
 