<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.shaymee.s4.board.notice.NoticeDAO">
  
  	<select id="getList" resultType="NoticeDTO">
  		SELECT * 
		FROM (
		    SELECT rownum R, NT.* FROM 
		        (SELECT *  
		        FROM NOTICE 
		        ORDER BY NUM DESC) NT)
		        
		        <!-- WHERE R BETWEEN #{startRow} AND #{lastRow} -->
  	</select>
  
  	<select id="getSelect" parameterType="BoardDTO" resultType="NoticeDTO"> <!-- parameterType은 부모타입, resultType은 각각 받을 타입 -->
  		SELECT * FROM NOTICE WHERE NUM = #{num}
  	</select>
  
  	<insert id="setInsert" parameterType="BoardDTO">
  		INSERT INTO NOTICE VALUES (NOTICE_SEQ.NEXTVAL, #{title}, #{contents}, #{writer}, sysdate, 0)
  	</insert>
  	
  	<delete id="setDelete" parameterType="BoardDTO">
  		DELETE NOTICE WHERE NUM = #{num}
  	</delete>
  	
  	<update id="setUpdate" parameterType="BoardDTO">
  		UPDATE NOTICE SET TITLE=#{title}, CONTENTS=#{contents}
  		WHERE NUM=#{num} 
  	</update>
  	
  	<select id="totalCount" resultType="java.lang.String">
  		SELECT COUNT(NUM) FROM NOTICE;
  	</select>
  
  </mapper>
  
 