<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.shaymee.s4.board.qna.QnaDAO">
  
  	<select id="getList" resultType="QnaDTO">
  		SELECT * 
		FROM (
		    SELECT rownum R, NT.* FROM 
		        (SELECT *  
		        FROM QNA 
		        WHERE 
		        
		        <choose>
			     	<when test="kind == 'num'">
			     		NUM
			     	</when>
			     	
			     	<when test="kind == 'title'">
			     		TITLE
			     	</when>
			     	
			     	<otherwise>
			     		WRITER
			     	</otherwise>
			     </choose> 
			     
			     LIKE '%' || #{search} || '%'
		        ORDER BY REF DESC, STEP ASC) NT)		        
		        WHERE R BETWEEN #{startRow} AND #{lastRow}
  	</select>
  
  	<select id="getSelect" parameterType="BoardDTO" resultType="QnaDTO"> <!-- parameterType은 부모타입, resultType은 각각 받을 타입 -->
  		SELECT * FROM QNA WHERE NUM = #{num}
  	</select>
  
  	<insert id="setInsert" parameterType="BoardDTO">
  		INSERT INTO QNA VALUES (QNA_SEQ.NEXTVAL, #{title}, #{contents}, #{writer}, sysdate, 0, QNA_SEQ.CURRVAL, 0, 0)
  	</insert>
  	
  	<delete id="setDelete" parameterType="BoardDTO">
  		DELETE QNA WHERE NUM = #{num}
  	</delete>
  	
  	<update id="setUpdate" parameterType="BoardDTO">
  		UPDATE QNA SET TITLE=#{title}, CONTENTS=#{contents}
  		WHERE NUM=#{num} 
  	</update>
  	
  	<select id="totalCount" resultType="java.lang.Long">
  		SELECT COUNT(NUM) FROM QNA
  		WHERE
  		<choose>
			<when test="kind == 'num'">
				NUM
			</when>
			<when test="kind == 'title'">
				TITLE
			</when>
			<when test="kind == 'writer'">
				WRITER
			</when>
			<otherwise>
				CONTENTS
			</otherwise>
		</choose>
		LIKE '%' || #{search} || '%'
  	</select>
  
  <update id="setReplyUpdate" parameterType="QnaDTO">
  	UPDATE QNA SET STEP=STEP+1 
  	WHERE REF = #{ref} AND STEP > #{step}
  </update>
  
  <insert id="setReply" parameterType="QnaDTO">
  	INSERT INTO QNA 
  	VALUES (QNA_SEQ.NEXTVAL, #{title}, #{contents}, #{writer}, sysdate, 0, #{ref}, #{step}, #{depth})
  </insert>
  
  </mapper>
  
